@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../src/assets/scss/style.scss';
@import './components/login/LoginContainer.scss';

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
    }
}